.landing_container {
  background-color: #5f4040;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing_jumbotron {
  background-color: #ec9999;
  border-radius: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.landing_header {
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.landing_button {
  color: white;
  background-color: #ec9999;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.landing_button:hover {
  background-color: #ec9999;
}

.landing_button:active {
  background-color: #5f4040;
}

.navbar_nav_link {
  color: black !important;
  padding: 10px;
}

.navbar_nav_link:active {
  color: white;
  background-color: #ed8383;
}

.navbar_logout_button {
  color: white !important;
  background-color: #ec9999;
  justify-content: end;
  border-radius: 20px;
}

.home_container {
  background-color: #ec9999;
  padding: 10px;
  border-radius: 5px;
  /* margin: 10px; */
}

.help_request_container {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  height: 50vh;
}

.form_container {
  background-color: #5f4040;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form_jumbotron {
  background-color: #ed8383;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 1.5em;
}

.form_button {
  color: #707070;
  border: none;
  background-color: white;
  border-radius: 5px;
}

.form_button:hover {
  background-color: #5f4040;
}

.form_button:active {
  background-color: #5f4040;
}

.button_arrow {
  color: #ed8383;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

#signup_form_control {
  border: none !important;
}

#mapid {
  height: 50vh;
}

.help_request_form_title {
  text-align: center;
}

.help_request_form_button {
  background-color: #ed8383;
  color: white;
  border-radius: 5px;
  border: none;
}

.help_request_form_button:hover {
  background-color: #e46767;
  border: none;
}

.big_button {
  background-color: #ec9999;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.big_button:hover {
  background-color: #5f4040;
}

.request_counter_button {
  background-color: #5f4040;
  margin-top: 20px;
  margin-bottom: 20px;
  border-color: #5f4040;
}

.request_counter_button:hover {
  background-color: #5f4040;
  border-color: #5f4040;
}

.request_counter_button:active {
  background-color: #5f4040;
  border-color: #5f4040;
}

.map_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ec9999;
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
}

.map_button:hover {
  background-color: #9c6a6a;
}

.map_button:active {
  background-color: #5f4040;
}

.map_button_background {
  height: 50vh;
  background-color: #5f4040;
  position: relative;
}

.map_marker {
  background-color: red !important;
  color: red !important;
}

.help_request_container {
  height: 60vh;
}

.request_counter_explainer_container {
  text-align: center;
  height: 50px;
}

.request_explainer {
  vertical-align: middle;
  display: inline-block;
  line-height: 50px;
  margin-left: 2px;
}

.request_explainer_container {
  padding: 20px;
  text-align: center;
  border: 1px, black;
}
